# ============================
# App
# ============================
ENVIRONMENT=DEV
APP_PORT=3000

# ============================
# Utils
# ============================
GATEWAY_HOST=localhost
GATEWAY_PORT=3000
AVAILABLE_VERSIONS=1.0.0
LOG_LEVEL=info
ENABLED_ENCRYPT=false
INGRESS_HOST=localhost

# ============================
# Database (MongoDB)
# ============================
DB_PROVIDER=mongo
DB_NAME=test
DB_HOST=localhost
DB_PORT=27017
DB_USERNAME=admin
DB_PASSWORD=admin
DB_SSL=false
DB_SSL_VALIDATE=false
DB_SECURE_SOCKET=false
# DB_SSL_CA=/path/to/ca.pem

# ============================
# Kafka
# ============================
KAFKA_ID=defaults-service
KAFKA_BROKERS=localhost:9092
KAFKA_LOG_LEVEL=0

# ============================
# AWS S3
# ============================
ENABLED_AWS_S3=false
AWS_ID=
AWS_SECRET=
S3_ASSETS_BUCKET=none
FILE_STORAGE=local
